@import url("https://fonts.googleapis.com/css?family=Khula:700");
body {
  background: #8a8787;
}
.hidden {
  opacity:0;
}
.console-containertext {
 
  font-family:Khula;
  font-size:30px;
  color:black;
  margin:auto;
  justify-content: end;
  
  
  
}
.console-underscore {
  position:relative;
  top:-0.14em;
  left:10px;
  
}

