@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");
#containertext {
    width: 100px;
    height: 80px;
    filter: url(#threshold) blur(0.6px);    
    display: flex;  
    margin:auto;
}

#text1,
#text2 {
    position: absolute;
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    user-select: none;
    
}